<div class="sidebar" id="sideBar">
    <div class="list-group list-group-flush">
      <a routerLink="/dashboard/staff-list" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-user-o"></i> Staff List
      </a>
      <a routerLink="/dashboard/patients-list" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-th-list"></i> Patients List
      </a>
      <a routerLink="/dashboard/active-rides" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-bus"></i> Active Rides
      </a>
      <a routerLink="/dashboard/past-rides" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-bus"></i> Past Rides
      </a>
      <a routerLink="/dashboard/payments" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-credit-card"></i> Payment
      </a>
        <a routerLink="/dashboard/pending-appointment" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-bell"></i> Pending Appointment
      </a>
      <a routerLink="/dashboard/notifications" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-bell"></i> Ride Request
      </a>
      <a routerLink="/dashboard/help-center" routerLinkActive="active" class="list-group-item list-group-item-action">
        <i class="fa fa-question-circle"></i> Help
      </a>
    </div>
</div>