<div class="pad_top_right">
    <ul class="staff_list">
      <li>
        <a  href="mailto:custom@mydocride.com">
          <span><i class="fa fa-paper-plane" style="font-size: 120px; margin-left: 20px;"></i></span>
          <em style="font-size: large;">support@mydocride.com</em>
        </a>
      </li>
      <li>
        <a href="tel:1(888) 318-6171">
          <span><i class="fa fa-phone" style="font-size: 120px; margin-left: 30px;"></i></span>
          <p class="m-0 text-center">
            <span class="d-block">Customer Support</span>
            <em style="font-size: large;">1(888) 318-6171</em>
          </p>
        </a>
      </li>
    </ul>
</div>